logger/search-app/API_keys.json
logger/search-engine/API_keys.json
# logger/search-engine/datasets/
logger/old_logs/
experiments/data/corpus

__pycache__/
.venv/
.pytest_cache/
experiments/testfile.ipynb
logger/search-engine/test.ipynb
# Local generated logs
logger/logs/*

# unsused document collections
logger/search-engine/datasets/kid-friend-en/
logger/search-engine/datasets/argsme.zip
logger/search-engine/datasets/CLEAR Corpus 6.01.xlsx

# Local secrets
logger/search-app/service_account.json
logger/search-engine/service_account.json
logger/search-app/API_keys.json
logger/search-engine/API_keys.json

# macOS
.DS_Store
**/.DS_Store
